body {
  min-height: 90vh;
  background: linear-gradient(90deg, #0c97fa 0%, #16e1f5 100%);
  display: grid;
  place-items: center;
}

.container {
  background: white;
  /* Do not give a fixed width */
  /* width: 120px; */
  height: 200px;
  padding-inline: 0.3rem;
  font-size: 3rem;
  border-radius: 0.3rem;
}
